.container {
    
  text-align: center;
  margin-top: 50px;
  border:2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
    height: 200px;

}

.profile {
    
  text-align: left;
  margin-top: 50px;
  border:2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
    height: 200px;

}
